@CHARSET "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font: 10pt Arial, Helvetica, sans-serif;
    color: #FFFFDD;
    background-color: #000;
}

#header,#footer {
    padding: 10px;
    text-align: center;
}
#header a, #footer a {
    color: #FFFFDD;
}
#header a:hover, #footer a:hover {
    text-decoration: none;
    color: #aaa;
}

#wrapper {
    width: 100%;
}

#content {
    min-width: 600px;
    max-width: 900px;
    margin: 0 auto;
}
.paged-data {
    overflow: hidden;
    width: 100%;
    position: relative;
}
form {
    max-width: 700px;
    margin: 0 auto;
    padding: 5px;
}

#comments {
    list-style: none;
}

.comment-main {
    margin: 5px;
    background: none repeat scroll 0 0 #FFFFDD;
    border: 1px solid #FFFFDD;
    box-shadow: 0 1px 8px rgba(255, 255, 255, 0.5);
    overflow: hidden;
}

div.comment-text {
    margin: 5px;
    float: left;
    color: #000;
}

.comment-header {
    background-color: #000;
    color: #FFFFDD;
    border: 1px black;
    border-style: none none solid none;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.number {
    float: right;
    margin: 0 5px;
}

.image {
    float: left;
}
.required:before {
    content: "*";
    color: #f00;
}
/**
 * Pagination
 */
.paginationControl {
    text-align: center;
    padding: 5px 0;
}

.paginationControl a {
    text-decoration: none;
    border: 1px solid #FFFFDD;
    background: #000;
    color: #FFFFDD;
    padding: 0 5px;
}

.paginationControl a:hover {
    background: #ccc;
    color: #000;
}

.paginationControl span.current {
    background: #FFFFDD;
    color: #000;
    border: 2px solid #FFFFDD;
    padding: 0 5px;
    border-radius: 10px;
}
/*
 * AJAX load
 *
 */
.loading {
    background-image: url(../img/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .8;
}