@CHARSET "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font: 10pt Arial, Helvetica, sans-serif;
    color: #FFFFDD;
    background-color: #000;
}

#header,#footer {
    padding: 10px;
    text-align: center;
}

#wrapper {
    width: 100%;
}

#content {
    min-width: 600px;
    max-width: 900px;
    margin: 0 auto;
}

form {
    max-width: 700px;
    margin: 0 auto;
    padding: 5px;
}

#comments {
    list-style: none;
}

.comment-main {
    margin: 5px;
    background: none repeat scroll 0 0 #FFFFDD;
    border: 1px solid #FFFFDD;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

p.comment-text {
    margin: 5px;
    float: left;
    color: #000;
}

.comment-header {
    background-color: #000;
    color: #FFFFDD;
    border: 1px black;
    border-style: none none solid none;
}

.number {
    float: right;
    margin: 0 5px;
}

.image {
    float: left;
}
.required:before {
    content: "*";
    color: #f00;
}
/**
 * Pagination
 */
.paginationControl {
    text-align: center;
    padding: 5px 0;
}

.paginationControl a {
    text-decoration: none;
    border: 1px solid #fff;
    background: #aaa;
    padding: 0 5px;
}

.paginationControl a:hover {
    background: #ccc;
    color: #000;
}

span#current {
    background: #fff;
    color: #204a87;
    border: 1px solid #fff;
    padding: 0 5px;
}